.product{
    margin: 20px auto!important;
}
.product_left, .product_right{
    margin: 20px 0;
}
.cate_p{
    padding: 0 20px;
    border: 1px solid rgba(0,0,0,0.2);
    height: 300px;
    overflow: auto;
}
.category_item{
    margin-bottom: 10px;
}
.category_item h5{
    border: 1px solid rgba(0,0,0,0.2);
    border-top: 4px solid #bf1e2e;
    padding: 10px 20px;
}
.product_right_header{
    margin-top: 3px;
}
.product_item{
    padding: 10px;
    
}
.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 50px;
    background-color: rgba(255, 216, 64, 0.95);
    text-align: center;
  }
  .home-product-item__sale-off-label{
      font-size: 12px;
  }
  #phantram{
      font-size: 12px;
      margin-left: 2px;
  }
  .home-product-item__sale-off-percent{
      font-size: 14px;
  }
  .home-product-item__sale-off::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.95) transparent
      rgba(255, 216, 64, 0.95);
  }
  
  .home-product-item__sale-off-percent {
    color: #e16850;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
  }
  .home-product-item__fovourite {
    padding: 5px 0;
    position: absolute;
    top: 10px;
    left: -6px;
    color: white;
    background-color: rgb(252, 43, 43);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .home-product-item__fovourite i {
    font-size: 16px;
    margin: 0 2px 0 5px;
    color: var(--white-color);
  }
  
  .home-product-item__fovourite::before {
    content: "";
    left: 0;
    bottom: -3px;
    position: absolute;
    border-top: 3px solid red;
    border-left: 3px solid transparent;
    filter: brightness(70%);
  }
  
  .home-product-item__fovourite span {
    color: var(--white-color);
  }
  

.product_list{
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    position: relative;
}
.product_list:hover{
    box-shadow: 1px 1px 4px 3px rgba(0,0,0,0.1);
    transition: all 0.3s linear;
}

.product_item, .product_item p{
    text-align: center !important;
}
.product_name h5{
    font-size: 16px;
    margin: 10px 0;
}
.product_price p:first-child{
    font-size: 14px;
    text-decoration: line-through;
}
.product_price p:last-child{
    color: red;
}

@media only screen and (max-width: 768px){

 }